* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #1e1e1e;
  color: #f1f1f1;
  font-family: "Courier New", Courier, monospace;
  /* font-weight: bold; */
  font-size: 24px;
}

.container {
  position: relative;
  display: block;
  width: 100vw;
  height: 100vh;
}

#textbox {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75%;
  /* text-align: justify; */
  /* overflow: hidden; */
  line-height: 1.25em;
}

.char {
  font-size: 24px;
  letter-spacing: 2px;
}

.cursor {
  /* color: red; */
  font-weight: 600;
  position: relative;
  font-size: 28px;
  /* color: #fff; */
}

.cursor::after {
  /* color: orange; */
  /* color: #00a6ed; */
  color: #ffb02e;
  content: "_";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
}

header {
  position: fixed;
  z-index: 1002;
  /* margin-left: 34px; */
  margin: 14px;
  padding: 24px;
  /* padding-top: 18px; */
  /* width: 148px;
  height: 148px; */
  /* padding-top: 12px; */
  box-sizing: border-box;
  border-radius: 50%;
  /* background-color: #00a6ed22;
  border: 1px solid #00a6ed55; */
}

.logo {
	width: fit-content;
	position: relative;
	padding: 1px 10px;
}

.icon {
  display: block;
  width: 100%;
  margin: auto;
  text-align: center;
  opacity: 0.85;
  /* background-color: #fff2; */
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.funkey {
  width: 100%;
  /* background-image: linear-gradient(to left, #00a6ed44, #ffb02e44); */
  opacity: 1;
  font-size: 20px;
  font-weight: bold;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 2px;
  /* color: white; */
  color: #f7f7f7aa;
  border-radius: 5px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  mix-blend-mode: screen;
}

.fun {
  /* color: #9597d5; */
  /* color: #ccc; */
  /* text-shadow: 2px 2px #00a6ed20; */
  font-family: cursive;
  text-transform: capitalize;
  color: #ffb02ecc;
}

.key {
  color: #00a6ed;
  /* text-shadow: 1px 1px #ffb02e20; */
  /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
  font-family: sans-serif;
  /* font-weight: bolder; */
  /* text-transform: up; */
  letter-spacing: 1px;
  /* color: #ffb02e; */
  /* font-weight: bolder; */
}
