* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #0c0c0c;
  /* background: a; */
}

button {
  position: relative;
  padding: 20px 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  text-decoration: none;
  gap: 0.5em;
  text-transform: uppercase;
  width: 215px;
  /* width: 15rem; */
  overflow: hidden;
  border-radius: 23px;
  color: #f7f7f7;
  font-size: 1.5rem;
  background-color: #5e86e7;
  border: 2px solid #5e86e799;
  /* border: 2px solid #fff9; */
  cursor: pointer;
}

button span {
  position: relative;
  color: #fff;
  letter-spacing: 3px;
  z-index: 1;
  font-weight: bolder;
}

button i {
  color: #f7f7f7 !important;
  z-index: 100;
}

button .liquid {
  position: absolute;
  top: -125px;
  left: 0;
  width: 100%;
  height: 215px;
  background-color: #4973ff;
  background-color: #5e86e7;
  box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
  transition: 0.5s;
}

button .liquid::after,
button .liquid::before {
  content: '';
  width: 200%;
  height: 200%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -75%);
  background: #000;
}

button .liquid::before {
  border-radius: 45%;
  background: rgba(20, 20, 20, 1);
  animation: animate 5s linear infinite;
}

button .liquid::after {
  border-radius: 40%;
  background: rgba(20, 20, 20, 0.5);
  animation: animate 10s linear infinite;
}

button:hover .liquid {
  top: -120px;
}

@keyframes animate {
  0% {
    transform: translate(-50%, -75%) rotate(0deg);
  }

  100% {
    transform: translate(-50%, -75%) rotate(360deg);
  }
}

i {
  color: #fff;
  /* fon */
}
