@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
	--logo-z-index: 100;
}

body {
  /* font-family: Arial, sans-serif; */
  font-family: 'Poppins', sans-serif;
  background-color: #f0f8ff;
  background-color: #111;
  /* background-color: #1e1e1e; */
  display: flex;
  justify-content: center;
  align-items: center;

	width: 100vw;
  height: 100vh;
  overflow: hidden;
}

header {
	z-index: var(--logo-z-index);
	position: fixed;
	width: 100vw;
	height: fit-content;
	left: 4rem;
	top: 1.5rem;
}

.top-left {
	/* background-color: aquamarine; */
	position: absolute;
	left: 1.5rem;
	top: 1.5rem;

	display: flex;
	flex-direction: column;
}

.logo {
	width: 8rem;
	opacity: 0.7;

	cursor: pointer;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: tranlate(-50%, -50%);
}
