/* @import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
} */

@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

* {
	--keyboard-clr: #444;
	/* --keyboard-hover-clr: #ff6868; */
	--keyboard-hover-clr: #5e8de7;
	--keyboard-size: 1.25rem;
	--keyboard-hover-size: 1.15rem;
}

.keyboard-container {
		position: fixed;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
    /* display: grid; */
    /* place-items: center; */
    /* min-height: 100vh; */
}

.keyboard {
		width: 100vw;
    display: flex;
		flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
}

.keyboard-rows {
	display: flex;
	flex-wrap: nowrap;
	/* margin-bottom: 0.25rem; */
}

.keys {
		font-family: "Orbitron", sans-serif;
    /* background-color: rgb(104, 104, 255); */
    /* background-color: #68aa68; */
    background-color: var(--keyboard-clr);
    border: none;
    display: inline-block;
    padding: .5rem 1rem;
    margin: .3rem;
    color: #fff;
    width: fit-content;
    height: fit-content;
    border-radius: .5rem;
		cursor: pointer;
		transition: 0.25s ease-out;
	}
	
.keys:hover {
	/* opacity: 0.85; */
	background-color: var(--keyboard-hover-clr);
	/* font-size: 3.5vh; */
	/* opacity: 0.85; */
}

.regular-keys {
	/* font-size: 2vw; */
	font-size: var(--keyboard-size);
}

.delete-key,
.shift-key,
.space-key {
    /* font-size: 2vw; */
    font-size: var(--keyboard-size);
		letter-spacing: 3px;
    text-transform: capitalize;
}

.upper { text-transform: uppercase; }