/* @import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap"); */
@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&family=Nova+Mono&family=Orbitron:wght@400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=VT323&display=swap');

header {
	left: 1.5rem;
	top: 0rem;
}

.overlay-loader,
.whole-body {
  width: 100vw;
  height: 100vh;

  left: 0;
  top: 0;
}

.overlay-loader {
  position: fixed;
  background-color: #1e1e1eed;
  z-index: calc(var(--logo-z-index) + 100);
}

#timer,#wpm {
  /* background-color: #f0f8ff77; */
  display: block;
  font-size: 1rem;
  margin: auto;
  width: fit-content;

	border-color: #333;;
	color: #e1e1e1ed;

  letter-spacing: 4px;
  border-top: none;
  /* border-top-left-radius: 0;
	border-top-right-radius: 0; */

  /* margin-top: -0.7em; */
  margin-top: -1.5rem;
}

#wpm {
	margin-top: 0rem;
}

#play {
  z-index: calc(var(--logo-z-index) + 150);
  width: fit-content;
  height: fit-content;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 15vh;
}

.whole-body {
  position: relative;
  margin: 0;
  padding: 0;
  z-index: calc(var(--logo-z-index) - 1);

  width: 100vw;
  height: 100vh;
}

video {
  /* width: 100vw; */
  /* width: 1080px; */
  height: 115vh;
  /* height: calc(720px * calc(1vh / 1px)); */
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  opacity: 0.75;

  z-index: calc(var(--logo-z-index) + 10000);

	mix-blend-mode: overlay;
}

.keyboard-container {
  z-index: calc(var(--logo-z-index) + 10);
  /* z-index: calc(var(--logo-z-index) + 1000); */
  opacity: 0.5;
}

.lyrics-container {
	/* font-family: "Orbitron", sans-serif; */
	font-family: "Kode Mono", "monospace";
	font-weight: bold;
  font-style: normal;
	
	/* text-align: center; */
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;

	padding: 7px 1rem;
	padding-top: 2px;
	border-radius: 2px;
	
  z-index: calc(var(--logo-z-index) + 100);
  position: absolute;
	left: 50%;
  top: 90%;
  transform: translateX(-50%);	

	background: #4444;
  font-size: 2rem;
  letter-spacing: 3px;
	/* mix-blend-mode: hard-light; */

}

.char {
  /* font-size: 24px; */
  font-size: 25px;
  /* font-size: 2rem; */
}

.cursor {
  /* color: red; */
  font-weight: 600;
  /* position: relative; */
  /* font-size: 28px; */
  transform: scale(1.25);
  /* letter-spacing: 5px; */
  margin-left: 3px;
  margin-right: 3px;
  text-align: center;
  text-decoration: double;
  /* opacity: 0.8; */
  /* color: #fff; */
  color: #ffb02edd;
}

.cursor::after {
  /* color: orange; */
  /* color: #00a6ed; */

  opacity: 0.9;
  color: #ffb02e;
  content: "_";
  display: block;
  position: absolute;
  left: 55%;
  top: 2px;
  transform: translateX(-50%);
}

.done {
  color: #70ee27ad;
}
