<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>


	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
		rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Rubik+Glitch+Pop&display=swap" rel="stylesheet">

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&display=swap"
		rel="stylesheet">


	<link rel="stylesheet" href="/css/style.css">
	<link rel="stylesheet" href="/css/funkey.css">
	<link rel="stylesheet" href="/css/homepage.css">
	<link rel="stylesheet" href="/css/practice.css">

</head>

<body>

	<audio id="bg-music" style="display: none">
		<source src="/assets/audio/forest.mp3" type="audio/mpeg">
	</audio>

	<div onclick="location.href='/'" class="logo" style="cursor: pointer;">
		<img src="assets/images/logo.png" alt="">
		<h4 class="logo-header">
			FunKey
		</h4>
	</div>
	<div class="container">
		<div class="textbox practice-text" id="textbox">
		</div>
	</div>

	<%- include('forest_bg.ejs') %>
	
	<script src="/js/script.js"></script>
</body>

</html>