<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Funkey | Practice Typing</title>
	<link rel="shortcut icon" href="/assets/icon/funkey.ico" type="image/x-icon">

	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
		rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Rubik+Glitch+Pop&display=swap" rel="stylesheet">

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&display=swap"
		rel="stylesheet">

	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
		integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />

	<link rel="stylesheet" href="css/toasts.css">
	<link rel="stylesheet" href="/css/style.css">
	<link rel="stylesheet" href="/css/funkey.css">
	<link rel="stylesheet" href="/css/homepage.css">
	<link rel="stylesheet" href="/css/practice.css">
	<link rel="stylesheet" href="css/upload.css">

	<style>
		.upload-modal .upload-container {
			background-color: #1f2122;
			position: fixed;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);

			width: 700px;
			display: flex;
			flex-direction: column !important;
			gap: 1em;
			justify-content: center;
			align-items: center;
			z-index: 100;
		}

		.upload-modal .upload-header {
			background-color: transparent;
			color: #e1e1e1;
			border-color: #5e8de720 !important;
			font-size: 1.5rem;
			font-weight: normal;
			width: 100%;
			text-align: left;
			padding-left: 1em;
		}

		.spinner {
			display: block;
			position: fixed;
			left: 48%;
			top: 45%;
			z-index: 10000;

			font-size: 2.5rem;
			width: 5rem;
			height: 5rem;
		}
	</style>
</head>

<body>
	<%- include('partials/preload.ejs') %>
		<div onclick="location.href='/'" class="logo" style="cursor: pointer; z-index: 10001;">
			<img src="assets/images/logo.png" alt="">
			<!-- <button class="btn btn-outline-light" id="timer">00:00</button> -->
			<h4 class="logo-header">
				FunKey
			</h4>

		</div>

		<div class="container text-scroll">
			<div class="textbox practice-text" id="textbox">
			</div>
		</div>

		<div class="spinner-border text-primary spinner" role="status" style="display: none">
			<span class="sr-only">Loading...</span>
		</div>
		<!-- Modals 2 - add fade-->
		<!-- <div class="modal fade upload-modal" tabindex="-1" id="practiceModal" aria-labelledby="uploadModalLabel" -->
		<div class="modal upload-modal" tabindex="-1" id="practiceModal" aria-labelledby="uploadModalLabel"
			aria-hidden="true" data-keyboard="false" and data-backdrop="static">
			<%- include('practiceMenus.ejs') %>
		</div>

		<!-- <div class="stats-container" style="display: none"> -->
		<div class="stats-container" style="display: none">
			<%- include('stats.ejs') %>
		</div>

		<div id="theme-container" style="display: block; position: fixed; left: 0; top: 0; width: 100vw; height: 100vh;">

		</div>


		<!-- Bootstrap JS and dependencies -->
		<!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script> -->
		<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

		<script defer>
			$(document).ready(function () {

				$('#practiceModal').modal({
					keyboard: false
				});

				$('#practiceModal').modal('show');

				let theme = localStorage.getItem('theme') || '/practice/partials/fireflies';
				fetch(theme).then(res => {
					if (!res.ok)
						return res.text().then(err => Promise.reject(err));
					return res.text();
				}).then(res => {
					// console.log(res);
					if (res.error) return;
					$('#theme-container').html(res);
				});
			});
		</script>
		<script src="/js/practice.js" defer></script>
		<script defer>
			$(document).ready(function () {
				$('.theme').each(function (index, element) {
					let img = element.dataset.img;
					console.log('img data', img);
					$(element).css('background-image', `url('${img}')`);
				});

				$('#themeCarousel').carousel({
					pause: true,
				});
				$('#themeCarousel').carousel(parseInt(localStorage.getItem('themeCarousel')));

			});
		</script>

</body>

</html>