<!DOCTYPE html>
<html lang="en">

<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Funkey | Home page</title>

	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
		rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Rubik+Glitch+Pop&display=swap" rel="stylesheet">

	<!-- Bootstrap core CSS -->
	<!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous"> -->
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
	integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
	crossorigin="anonymous" referrerpolicy="no-referrer" />

	<!-- Additional CSS Files -->
	<link rel="stylesheet" href="css/funkey.css">
	<link rel="stylesheet" href="css/owl.css">
	<link rel="stylesheet" href="css/animate.css">
	<link rel="stylesheet" href="css/homepage.css">
	<link rel="stylesheet" href="css/levels.css">

	<!-- Favicons -->
	<!-- <link rel="icon" type="image/png" sizes="32x32" href="assets/icon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="assets/icon/favicon-16x16.png">
	<link rel="apple-touch-icon" sizes="180x180" href="assets/icon/apple-touch-icon.png">
	<link rel="manifest" href="assets/icon/site.webmanifest"> -->

	<link rel="shortcut icon" href="assets/icon/logo.ico" type="image/x-icon">
	<!-- <link rel="icon" type="" sizes="32x32" href="assets/icon/logo.ico"> -->

</head>

<body>

	<!-- ***** Preloader Start ***** -->
	<div id="js-preloader" class="js-preloader" style="display: none !important;">
		<div class="preloader-inner">
			<span class="dot"></span>
			<div class="dots">
				<span></span>
				<span></span>
				<span></span>
			</div>
		</div>
	</div>
	<!-- ***** Preloader End ***** -->

	<!-- ***** Header Area Start ***** -->
	<header class="header-area header-sticky">
		<nav class="main-nav">
			<!-- ***** Logo Start ***** -->
			<div href="/" class="logo">
				<img src="assets/images/logo.png" alt="">
				<h4 class="logo-header">
					FunKey
				</h4>
			</div>
			<!-- ***** Logo End ***** -->

			<!-- ***** Search End ***** -->
			<div class="search-input">
				<form id="search" action="#">
					<input type="text" placeholder="Type Something" id='searchText' name="searchKeyword" onkeypress="handle" />
					<i class="fa fa-search"></i>
				</form>
			</div>
			<!-- ***** Search End ***** -->
			<!-- ***** Menu Start ***** -->
			<ul class="nav">
				<li><a href="/" class="active">Home</a></li>
				<li><a href="browse.html">Browse</a></li>
				<li><a href="details.html">Details</a></li>
				<li><a href="match.html">Match</a></li>
				<% if (!avatar) { %>
					<li><a href="/login" class="active">Login</a></li>
				<% } else { %>
					<li><a href="/profile">Profile <img src="<%= avatar %>" alt=""></a></li>
				<% } %>
				<!-- <li><a href="profile.html">Login <img src="assets/images/logo.png" alt=""></a></li> -->
			</ul>
			<a class='menu-trigger'>
				<span>Menu</span>
			</a>
			<!-- ***** Menu End ***** -->
		</nav>
	</header>
	<!-- ***** Header Area End ***** -->

	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="page-content">

					<!-- ***** Banner Start ***** -->
					<div class="main-banner">
						<div class="row">
							<div class="col-lg-7">
								<div class="header-text">
									<h6>Welcome To <em>FunKey</em></h6>
									<h4><em>Browse</em> The Most Popular Musics Here</h4>
									<div class="main-button">
										<a href="browse.html">Browse Now</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- ***** Banner End ***** -->

					<!-- ***** Most Popular Start ***** -->
					<div class="most-popular">
						<div class="row">
							<div class="col-lg-12">
								<div class="heading-section">
									<h4><em>Most Popular</em> Right Now</h4>
								</div>
								<div class="row">
									<div class="col-lg-3 col-sm-6">
										<div class="item">
											<div class="upload">
												<i class="fa fa-cloud-upload" aria-hidden="true"></i>
												<!-- <i class="fa fa-upload" aria-hidden="true"></i> -->
											</div>

											<div class="footnote upload-caption">
												<h4 class="text-truncate"><span>Upload Music</span><span>upload your Music</span></h4>
												<ul>
													<!-- <li><i class="bi bi-collection-play"></i>&nbsp; 0</li> -->
													<!-- <li><i class="fa fa-upload"></i>&nbsp; 0</li> -->
													<li><i class="fa fa-music"></i>&nbsp; 0</li>
													<!-- <li><i class="bi bi-upload"></i>&nbsp; 0</li> -->
													<!-- <li><i class="fa fa-cloud-upload"></i>&nbsp; 23</li> -->
												</ul>
											</div>
										</div>
									</div>
									<div class="col-lg-3 col-sm-6">
										<div class="item" data-toggle="modal" data-target="#levelsModal">
											<div class="thumbnail"
												data-image-url="https://external-preview.redd.it/b5R5gXGYfBVWVIppxnX5T0Bdtt1hJSK7XnUN6ypf_9s.jpg?width=640&crop=smart&auto=webp&s=eb12b986353e8b1bf2bfa6c8928707d8194dfc06">
												<div class="play-icon-container">
													<i class="bi bi-play-circle"></i>
												</div>
												<img
													src="https://external-preview.redd.it/b5R5gXGYfBVWVIppxnX5T0Bdtt1hJSK7XnUN6ypf_9s.jpg?width=640&crop=smart&auto=webp&s=eb12b986353e8b1bf2bfa6c8928707d8194dfc06"
													alt="" style="display: none">
											</div>
											<!-- <img src="assets/images/popular-01.jpg" alt=""> -->
											<div class="footnote caption">
												<h4 class="text-truncate"><span>Ed sheeran</span><span>Perfect</span></h4>
												<ul>
													<li><i class="fa fa-thumbs-up"></i>4.8</li>
													<li><i class="fas fa-users"></i>2.3M</li>
													<!-- <li><i class="fa fa-download"></i>2.3M</li> -->
												</ul>
											</div>
										</div>
									</div>
									<div class="col-lg-3 col-sm-6">
										<div class="item">
											<div class="thumbnail" data-toggle="modal" data-target="#levelsModal" data-image-url="https://f4.bcbits.com/img/a1160483297_16.jpg">
												<div class="play-icon-container">
													<i class="bi bi-play-circle"></i>
												</div>
												<!-- <img src="https://f4.bcbits.com/img/a1160483297_16.jpg" alt=""> -->
											</div>
											<div class="footnote">
												<h4 class="text-truncate"><span>Michael Bubble</span><span>Feeling Good</span></h4>
												<ul>
													<li><i class="fa fa-star"></i> 4.8</li>
													<li><i class="fa fa-download"></i> 2.3M</li>
												</ul>
											</div>
										</div>
									</div>
									<div class="col-lg-3 col-sm-6">
										<div class="item">
											<div class="thumbnail" data-toggle="modal" data-target="#levelsModal" data-image-url="https://e-cdn-images.dzcdn.net/images/cover/ee109f323c86f6e9fc5a6dafd5b538ab/500x500-000000-80-0-0.jpg">
												<div class="play-icon-container">
													<i class="bi bi-play-circle"></i>
												</div>
												<!-- <img
													src="https://e-cdn-images.dzcdn.net/images/cover/ee109f323c86f6e9fc5a6dafd5b538ab/500x500-000000-80-0-0.jpg"
													alt=""> -->
											</div>
											<div class="footnote">
												<h4 class="text-truncate"><span>Nathan Evans</span><span>Wellerman (Sea Shanty)</span></h4>
												<ul>
													<li><i class="fa fa-star"></i> 4.8</li>
													<li><i class="fa fa-download"></i> 2.3M</li>
												</ul>
											</div>
										</div>
									</div>
									<div class="col-lg-3 col-sm-6">
										<div class="item">
											<div class="thumbnail">
												<div class="play-icon-container">
													<i class="bi bi-play-circle"></i>
												</div>
												<img src="assets/images/popular-04.jpg" alt="">
											</div>
											<div class="footnote">
												<h4 class="text-truncate"><span>CS-GO</span><span>Legendary</span></h4>
												<ul>
													<li><i class="fa fa-star"></i> 4.8</li>
													<li><i class="fa fa-download"></i> 2.3M</li>
												</ul>
											</div>
										</div>
									</div>
									<div class="col-lg-6">
										<div class="item">
											<div class="row">
												<div class="col-lg-6 col-sm-6">
													<div class="item inner-item">
														<img src="assets/images/popular-05.jpg" alt="">
														<h4>Mini Craft<br><span>Legendary</span></h4>
														<ul>
															<li><i class="fa fa-star"></i> 4.8</li>
															<li><i class="fa fa-download"></i> 2.3M</li>
														</ul>
													</div>
												</div>
												<div class="col-lg-6 col-sm-6">
													<div class="item">
														<img src="assets/images/popular-06.jpg" alt="">
														<h4>Eagles Fly<br><span>Matrix Games</span></h4>
														<ul>
															<li><i class="fa fa-star"></i> 4.8</li>
															<li><i class="fa fa-download"></i> 2.3M</li>
														</ul>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-lg-3 col-sm-6">
										<div class="item">
											<img src="assets/images/popular-07.jpg" alt="">
											<h4>Warface<br><span>Max 3D</span></h4>
											<ul>
												<li><i class="fa fa-star"></i> 4.8</li>
												<li><i class="fa fa-download"></i> 2.3M</li>
											</ul>
										</div>
									</div>
									<div class="col-lg-3 col-sm-6">
										<div class="item">
											<img src="assets/images/popular-08.jpg" alt="">
											<h4>Warcraft<br><span>Legend</span></h4>
											<ul>
												<li><i class="fa fa-star"></i> 4.8</li>
												<li><i class="fa fa-download"></i> 2.3M</li>
											</ul>
										</div>
									</div>
									<div class="col-lg-12">
										<div class="main-button">
											<a href="browse.html">Discover Popular</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- ***** Most Popular End ***** -->

					<!-- ***** Gaming Library Start ***** -->
					<div class="gaming-library">
						<div class="col-lg-12">
							<div class="heading-section">
								<h4><em>Your Gaming</em> Library</h4>
							</div>
							<div class="item">
								<ul>
									<li><img src="assets/images/game-01.jpg" alt="" class="templatemo-item"></li>
									<li>
										<h4>Dota 2</h4><span>Sandbox</span>
									</li>
									<li>
										<h4>Date Added</h4><span>24/08/2036</span>
									</li>
									<li>
										<h4>Hours Played</h4><span>634 H 22 Mins</span>
									</li>
									<li>
										<h4>Currently</h4><span>Downloaded</span>
									</li>
									<li>
										<div class="main-border-button border-no-active"><a href="#">Donwloaded</a></div>
									</li>
								</ul>
							</div>
							<div class="item">
								<ul>
									<li><img src="assets/images/game-02.jpg" alt="" class="templatemo-item"></li>
									<li>
										<h4>Fortnite</h4><span>Sandbox</span>
									</li>
									<li>
										<h4>Date Added</h4><span>22/06/2036</span>
									</li>
									<li>
										<h4>Hours Played</h4><span>740 H 52 Mins</span>
									</li>
									<li>
										<h4>Currently</h4><span>Downloaded</span>
									</li>
									<li>
										<div class="main-border-button"><a href="#">Donwload</a></div>
									</li>
								</ul>
							</div>
							<div class="item last-item">
								<ul>
									<li><img src="assets/images/game-03.jpg" alt="" class="templatemo-item"></li>
									<li>
										<h4>CS-GO</h4><span>Sandbox</span>
									</li>
									<li>
										<h4>Date Added</h4><span>21/04/2036</span>
									</li>
									<li>
										<h4>Hours Played</h4><span>892 H 14 Mins</span>
									</li>
									<li>
										<h4>Currently</h4><span>Downloaded</span>
									</li>
									<li>
										<div class="main-border-button border-no-active"><a href="#">Donwloaded</a></div>
									</li>
								</ul>
							</div>
						</div>
						<div class="col-lg-12">
							<div class="main-button">
								<a href="profile.html">View Your Library</a>
							</div>
						</div>
					</div>
					<!-- ***** Gaming Library End ***** -->
				</div>
			</div>
		</div>
	</div>

	<footer>
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<p>Copyright © 2036 <a href="#">Cyborg Gaming</a> Company. All rights reserved.

						<br>Design: <a href="https://templatemo.com" target="_blank" title="free CSS templates">TemplateMo</a>
					</p>
				</div>
			</div>
		</div>
	</footer>




	<!-- Modals -->
	<div class="modal fade levels-modal" tabindex="-1" id="levelsModal" aria-labelledby="levelsModalLabel"
		aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header border-secondary">
					<h5 class="modal-title" id="levelsModalLabel">Play Music</h5>
					<!-- <h5 class="modal-title">Select Level</h5> -->
					<i onclick="$('.levels-modal').modal('hide')" class="bi bi-x-octagon text-danger" type="button"
						data-bs-dismiss="modal" aria-label="Close"></i>
					<!-- <i onclick="$('.levels-modal').hide()" class="bi bi-x-octagon text-danger" type="button" data-bs-dismiss="modal" aria-label="Close"></i> -->
				</div>
				<div class="modal-body border-dark">
					<div class="level-selector-container">
						<img class="thumbnail-img"
							src="https://external-preview.redd.it/b5R5gXGYfBVWVIppxnX5T0Bdtt1hJSK7XnUN6ypf_9s.jpg?width=640&crop=smart&auto=webp&s=eb12b986353e8b1bf2bfa6c8928707d8194dfc06"
							alt="">
						<div class="level-selector-title">Ed Sheeran - Perfect</div>
						<!-- Select Level -->
						<div class="btn-group btn-group-toggle level-buttons" data-toggle="buttons">
							<label class="btn btn-outline-success brand-bg" data-level="easy">
								<input type="radio" name="options" autocomplete="off" style="display: none;"> Easy
							</label>
							<label class="btn btn-outline-warning brand-bg" data-level="medium">
								<input type="radio" name="options" autocomplete="off" style="display: none;"> Medium
							</label>
							<label class="btn btn-outline-danger brand-bg" data-level="hard">
								<input type="radio" name="options" autocomplete="off" style="display: none;"> Hard
							</label>
							<label class="btn btn-outline-secondary brand-bg custom-btn" data-level="custom" id="customBtn">
								<input type="radio" name="options" autocomplete="off" style="display: none;"> Custom
							</label>
						</div>

						<!-- Custom Options -->
						<div class="custom-options border border-secondary" id="customOptions" style="display: none;">
							<div class="form-check">
								<label class="form-check-label" for="customOption1">Capital Letters</label>
								<input name="capital-letters" class="form-check-input" type="checkbox" id="customOption1">
							</div>
							<div class="form-check">
								<label class="form-check-label" for="customOption2">Punctuation marks</label>
								<input name="Punctuation" class="form-check-input" type="checkbox" id="customOption2">
							</div>
							<div class="form-check">
								<label class="form-check-label" for="customOption3">Double spaces</label>
								<input class="form-check-input" type="checkbox" id="customOption3">
							</div>
							<div class="form-check">
								<label class="form-check-label" for="customOption4">Speed</label>
								<select class="form-select" name="speed" aria-label="Default select example">
									<option value="1">0.25</option>
									<option value="2">0.5</option>
									<option value="3">0.75</option>
									<option selected>1.0</option>
									<option value="1">1.25</option>
									<option value="2">1.5</option>
									<option value="3">1.75</option>
									<option value="3">2.0</option>
								</select>
							</div>
						</div>

						<!-- Begin Button -->
						<div style="display: block; width: 100%;">
							<!-- <button id="start" class="btn btn-outline-info btn-lg mt-3 align-middle" style="display: none;" onclick="start()">BEGIN</button> -->
							<img class="level-img" src="" alt="" style="display: none;" width="1px">
							<!-- <button id="start" class="btn btn-lg mt-3 align-middle" style="display: none;" onclick="start()">
								BEGIN
							</button> -->
						</div>
					</div>
				</div>
				<!-- <div class="modal-footer border-secondary"> -->
				<div class="modal-footer border-0">
					<!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> -->
					<!-- <button type="button" class="btn btn-primary">Play</button> -->
					<button id="start" type="button" class="btn btn-primary btn-lg">Play</button>
				</div>
			</div>
		</div>
	</div>

	<!-- Modals 2 -->
	<div class="modal fade upload-modal" tabindex="-1" id="uploadModal" aria-labelledby="uploadModalLabel"
		aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header border-secondary">
					<h5 class="modal-title" id="levelsModalLabel">Play Music</h5>
					<!-- <h5 class="modal-title">Select Level</h5> -->
					<i onclick="$('.upload-modal').modal('hide')" class="bi bi-x-octagon text-danger" type="button"
						data-bs-dismiss="modal" aria-label="Close"></i>
					<!-- <i onclick="$('.upload-modal').hide()" class="bi bi-x-octagon text-danger" type="button" data-bs-dismiss="modal" aria-label="Close"></i> -->
				</div>
				<div class="modal-body border-dark">
					<div class="level-selector-container">
						<img class="thumbnail-img"
							src="https://external-preview.redd.it/b5R5gXGYfBVWVIppxnX5T0Bdtt1hJSK7XnUN6ypf_9s.jpg?width=640&crop=smart&auto=webp&s=eb12b986353e8b1bf2bfa6c8928707d8194dfc06"
							alt="">
						<div class="level-selector-title">Ed Sheeran - Perfect</div>
						<!-- Select Level -->
						<div class="btn-group btn-group-toggle level-buttons" data-toggle="buttons">
							<label class="btn btn-outline-success brand-bg" data-level="easy">
								<input type="radio" name="options" autocomplete="off" style="display: none;"> Easy
							</label>
							<label class="btn btn-outline-warning brand-bg" data-level="medium">
								<input type="radio" name="options" autocomplete="off" style="display: none;"> Medium
							</label>
							<label class="btn btn-outline-danger brand-bg" data-level="hard">
								<input type="radio" name="options" autocomplete="off" style="display: none;"> Hard
							</label>
							<label class="btn btn-outline-secondary brand-bg custom-btn" data-level="custom" id="customBtn">
								<input type="radio" name="options" autocomplete="off" style="display: none;"> Custom
							</label>
						</div>

						<!-- Custom Options -->
						<div class="custom-options border border-secondary" id="customOptions" style="display: none;">
							<div class="form-check">
								<label class="form-check-label" for="customOption1">Capital Letters</label>
								<input name="capital-letters" class="form-check-input" type="checkbox" id="customOption1">
							</div>
							<div class="form-check">
								<label class="form-check-label" for="customOption2">Punctuation marks</label>
								<input name="Punctuation" class="form-check-input" type="checkbox" id="customOption2">
							</div>
							<div class="form-check">
								<label class="form-check-label" for="customOption3">Double spaces</label>
								<input class="form-check-input" type="checkbox" id="customOption3">
							</div>
							<div class="form-check">
								<label class="form-check-label" for="customOption4">Speed</label>
								<select class="form-select" name="speed" aria-label="Default select example">
									<option value="1">0.25</option>
									<option value="2">0.5</option>
									<option value="3">0.75</option>
									<option selected>1.0</option>
									<option value="1">1.25</option>
									<option value="2">1.5</option>
									<option value="3">1.75</option>
									<option value="3">2.0</option>
								</select>
							</div>
						</div>

						<!-- Begin Button -->
						<div style="display: block; width: 100%;">
							<!-- <button id="start" class="btn btn-outline-info btn-lg mt-3 align-middle" style="display: none;" onclick="start()">BEGIN</button> -->
							<img class="level-img" src="" alt="" style="display: none;" width="1px">
							<!-- <button id="start" class="btn btn-lg mt-3 align-middle" style="display: none;" onclick="start()">
								BEGIN
							</button> -->
						</div>
					</div>
				</div>
				<!-- <div class="modal-footer border-secondary"> -->
				<div class="modal-footer border-0">
					<button id="start" type="button" class="btn btn-primary btn-lg">Play</button>
				</div>
			</div>
		</div>
	</div>

	<!-- Bootstrap JS and dependencies -->
	<!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script> -->
	<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

	<script src="assets/js/isotope.min.js"></script>
	<script src="assets/js/owl-carousel.js"></script>
	<script src="assets/js/tabs.js"></script>
	<script src="assets/js/popup.js"></script>
	<script src="js/custom.js" defer></script>
	<script src="js/levels.js" defer></script>
	<script>
		$(document).ready(function () {
			$('#levelsModal').modal({
				backdrop: true, // Allows closing the modal by clicking outside of it
				keyboard: true,  // Allows closing the modal by pressing the escape key
				show: false
			});

			$('#uploadModal').modal({
				backdrop: true, // Allows closing the modal by clicking outside of it
				keyboard: true,  // Allows closing the modal by pressing the escape key
				show: false
			});

			$('.thumbnail').each(function () {
				var imageUrl = $(this).data('image-url');
				$(this).css('background-image', 'url(' + imageUrl + ')');
			});

			// $('#levelsModal').modal('hide');
			// $('#levelsModal').hide();
		});
	</script>

</body>

</html>