<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Sign Up</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/basics.css">
	<link rel="stylesheet" href="/css/signup.css">
	<link rel="stylesheet" href="/css/toasts.css">
	<link rel="stylesheet" href="/css/particles.css">

	<style>
		a:hover {
			text-decoration: none;
		}

		.form-check {
			user-select: none;
			cursor: pointer;
		}

		.form-check-label {
			cursor: pointer;
		}

		.spinner {
			display: block;
			position: absolute;
			left: 45%;
			top: 50%;
			z-index: 1000;

			font-size: 1.5rem;
			width: 2.5rem;
			height: 2.5rem;
		}
	</style>
</head>

<body>
	<header>
		<!-- <img class="logo" src="assets/images/logo.png"> -->
	</header>

	<div class="container">
		<div class="spinner-border text-primary spinner" role="status" style="display: none">
			<span class="sr-only">...</span>
		</div>
		<div class="card mt-5">
			<div class="card-body">
				<form class="signup-form">
					<div class="avatar-container" data-type="image">
						<i class="fas fa-camera-retro icon"></i>
					</div>
					<input type="file" id="avatar-upload" style="display: none" accept="images">
					<input type="hidden" name="avatar" value="assets/images/logo.png">
					<div class="form-group">
						<label for="name"><i class="fa fa-user"></i> &nbsp;Name</label>
						<input name="name" type="text" class="form-control" id="name" placeholder="Your Name" required>
					</div>
					<div class="form-group">
						<label for="email"><i class="fa fa-envelope"></i> &nbsp;Email</label>
						<input name="email" type="email" class="form-control" id="email" placeholder="Your Email" required>
					</div>
					<div class="form-group">
						<label for="password"><i class="fa fa-lock"></i> &nbsp;Password</label>
						<input name="password" type="password" class="form-control" id="password" placeholder="Password" required>
					</div>
					<div class="form-group">
						<label for="confirm-password"><i class="fa fa-key"></i> &nbsp;Repeat your password</label>
						<input type="password" class="form-control" id="confirm-password" placeholder="Repeat your password">
					</div>
					<div class="form-group">
						<label class="form-label"> &nbsp;
							Have account already?
							<a href="/login" class="text-primary">
								<i class="fas fa-sign-in-alt"></i>
								Login
							</a>
						</label>
					</div>
					<div class="form-check">
						<input type="checkbox" class="form-check-input" id="terms">
						<label class="form-check-label" for="terms">I agree to all statements in <a href="#" class="text-primary"
								data-toggle="modal" data-target="#termsModal">Terms of service</a></label>
					</div>
					<button type="submit" class="btn btn-primary btn-block mt-4">Register</button>
				</form>
			</div>
		</div>
	</div>
	</div>

	<div class="modal fade" id="termsModal" tabindex="-1" role="dialog" aria-labelledby="termsModalLabel"
		aria-hidden="true">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content bg-light text-dark"> <!-- Changed background color -->
				<div class="modal-header">
					<h4 class="modal-title" id="termsModalLabel" style="font-weight: bold;">Terms and Conditions</h4>
					<button type="button" class="close text-dark" data-dismiss="modal" aria-label="Close">
						<!-- Changed font color -->
						<i class="fas fa-times"></i>
					</button>
				</div>
				<div class="modal-body">
					<h4 class="mb-4">1. Introduction</h4> <!-- Added margin-bottom -->
					<p>Welcome to Funkey, a web application designed to help users improve their typing skills in a fun and
						engaging way. By accessing or using Funkey, you agree to be bound by these terms and conditions.</p>

					<h4 class="mb-4">2. User Accounts</h4>
					<p>To use certain features of Funkey, you may need to create an account. You agree to provide accurate and
						complete information when creating your account and to keep this information up-to-date.</p>

					<h4 class="mb-4">3. Use of the Website</h4>
					<p>You agree to use Funkey only for lawful purposes and in accordance with these terms and conditions. You
						agree not to use Funkey in any way that could damage, disable, overburden, or impair the website or
						interfere with any other party's use and enjoyment of the website.</p>

					<h4 class="mb-4">4. Intellectual Property</h4>
					<p>All content on Funkey, including text, graphics, logos, images, and software, is the property of Funkey or
						its content suppliers and is protected by intellectual property laws. You agree not to reproduce, duplicate,
						copy, sell, resell, or exploit any portion of Funkey without the express written permission of Funkey.</p>

					<h4 class="mb-4">5. User-Generated Content</h4>
					<p>By uploading or submitting any content to Funkey, you grant Funkey a worldwide, non-exclusive, royalty-free
						license to use, reproduce, modify, adapt, publish, and display such content in connection with the operation
						of Funkey. You represent and warrant that you have the right to grant this license.</p>

					<h4 class="mb-4">6. Limitation of Liability</h4>
					<p>Funkey is provided "as is" and "as available" without any warranties of any kind. In no event shall Funkey
						or its suppliers be liable for any damages arising out of or in connection with your use of Funkey.</p>

					<h4 class="mb-4">7. Changes to These Terms</h4>
					<p>Funkey reserves the right to modify these terms and conditions at any time. We will notify you of any
						changes by posting the new terms and conditions on this page. Your continued use of Funkey after any changes
						indicates your acceptance of the new terms and conditions.</p>

					<h4 class="mb-4">8. Contact Us</h4>
					<p>If you have any questions about these terms and conditions, please contact us at support@funkey.com.</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>

	<div class="toast-container" id="toast-container">
	</div>

	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	<script src="https://use.fontawesome.com/releases/v5.15.4/js/all.js"></script>

	<script src="/js/signup.js"></script>
	<script src="/js/toasts.js"></script>
	<script src="/js/particles.js"></script>
</body>

</html>