<style>
	.switch-sort {
		display: block;
		padding: 0.2em 0.5em;
		border-right: 1px solid #57575757;
		transition: 1s;
	}

	.switch-sort:hover {
		opacity: 0.8;
	}

	.switch-sort:active {
		transform: rotate(90deg);
		border-right-width: 2px;
		opacity: 0.85;
	}
</style>

<h4 class="sort-title random-title title-1 title--1" style="display: none;"><em style="text-decoration: none;">Random</em>&nbsp; <i class="fas fa-random"></i></h4>
<h4 class="sort-title popularity-title title--1" style="display: none;"><em>Popularity</em>&nbsp; Most Popular</h4>
<h4 class="sort-title popularity-title title-1" style="display: none;"><em>Popularity</em>&nbsp; Least Popular</h4>

<h4 class="sort-title alpha-title title-1" style="display: block;"><em>Alphabetic</em>&nbsp; A - Z</h4>
<h4 class="sort-title alpha-title title--1" style="display: none;"><em>Alphabetic</em>&nbsp; Z - A</h4>

<div class="dropdown">
	<div id="sorting-container" class="bg-warning" type="button"
		style="display: flex;  align-items: center; padding: 0; justify-content: space-evenly; border-radius: 2px;">
		<i class="fas switch-sort sort-name sort-alpha" data-asc="fa-sort-alpha-down"
			data-desc="fa-sort-alpha-down-alt" data-sort="alpha" data-order="1" style="display: none"></i>

		<i class="fas switch-sort sort-popularity" data-asc="fa-sort-amount-down-alt"
			data-desc="fa-sort-amount-down" style="display: none" data-sort="popularity" data-order="-1"></i>

		<i class="fas fa-random switch-sort sort-randomly sort-random" style="display: none" data-sort="random" data-order="0"></i>

		<span class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"
			style="padding: 0.2em 0.5em; padding-left: 0.5em; font-weight: 600;">
			Sort
		</span>

		<ul class="dropdown-menu bg-dark w-25">
			<li class="sort-options dropdown-item bg-dark text-light" data-sortby=".sort-name"
				onclick="$('.switch-sort').hide(); $('.sort-name').show(); localStorage.setItem('sort-by', 'alpha')">
				<a href="#"><i class="fas fa-sort-alpha-down"></i>&nbsp; Name</a>
			</li>

			<li class="sort-options dropdown-item bg-dark text-light" data-sortby=".sort-popularity"
				onclick="$('.switch-sort').hide(); $('.sort-popularity').show();  localStorage.setItem('sort-by', 'popularity')">
				<a href="#"><i class="fas fa-sort-amount-down"></i>&nbsp; Popularity</a>
			</li>

			<li class="sort-options dropdown-item bg-dark text-light" data-sortby=".sort-randomly"
				onclick="$('.switch-sort').hide(); $('.sort-randomly').show();  localStorage.setItem('sort-by', 'random')">
				<a href="#"><i class="fas fa-random"></i>&nbsp; Random</a>
			</li>
		</ul>
	</div>
</div>