@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.keyboard-container {
    display: grid;
    place-items: center;
    min-height: 100vh;
		opacity: 0.5;
}

.keyboard {
		width: 100vw;
    display: flex;
		flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
}

.keyboard-rows {
	display: flex;
	flex-wrap: nowrap;
}

.keys {
    background-color: rgb(104, 104, 255);
    border: none;
    display: inline-block;
    padding: .5rem 1rem;
    margin: .3rem;
    font-size: 1.3rem;
    color: #fff;
    width: fit-content;
    height: fit-content;
    border-radius: .5rem;
		cursor: pointer;
		transition: 0.25s ease-out;
	}
	
.keys:hover {
	/* opacity: 0.85; */
	background-color: rgb(255, 104, 104);
	/* opacity: 0.85; */
}

.regular-keys {
	font-size: 2vw;
}

.delete-key,
.shift-key,
.space-key {
    font-size: 2vw;
    text-transform: capitalize;
}

.upper { text-transform: uppercase; }